REACT_APP_APP_ENV=prod
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=lifelog-tracker.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=lifelog-tracker
REACT_APP_FIREBASE_STORAGE_BUCKET=lifelog-tracker.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=268540727297
REACT_APP_FIREBASE_APP_ID=1:268540727297:web:aea31f933006c0279a7000
REACT_APP_FIREBASE_MEASUREMENT_ID=G-TQF8E426RG
